.degree{
	display: flex;
	margin-top: 155px;
	margin-left: 10px;
	margin-bottom: 80px;
}

.content{
	flex: 1;
	margin-left: 20px;
	font-family: sans-serif;
	line-height: 1.5;
}

.image{
	margin-right: 20px;
	height: 450px;
	width: 450px;
	border-radius: 20px;
	box-shadow: 0 10px 20px -10px black;
}

.imageContainer{
	flex: 1;
	margin-left: 80px;
	margin-top: 30px;
}

.degreeTitle{
	color: #a6071c;
	font-family: sans-serif;
}

.schoolList{
	display: list-item;          
    list-style-type: circle;       
    list-style-position: inside;
}

.degree h4{
	color: #a6071c;
}

.list{
	list-style-type: circle;       
	margin-left: -22px;
	
}

.list a{
	color: #5b1091;
}

.list a:hover{
	color: red;
}