.sortAndFilter{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
	margin-right: 10px;
}

.filter{
	display: flex;
}

.level, .sorter{
	width: 200px;
	margin-right: -5px;
	background-color: #ddf5d7;
}

.school{
	width: 200px;
	margin-right: -5px;
	background-color: #ddf5d7;
}

@media (max-width: 800px) {
  .school, .level, .sorter{
  	width: 100px;
  }
}

