.degreeList{
	display: grid;
  	grid-template-columns: repeat(4, 1fr);
  	grid-gap: 40px;	
  	padding-bottom: 20px;
}

@media (max-width: 800px) {
  .degreeList{
  	grid-template-columns: repeat(2, 1fr);
  }
}

.degrees{
	text-decoration: none;
	font-size: 18px;
	color: #5b1091;
	font-weight: bold;
	font-family: sans-serif;
}

.degrees:hover{
	color: red;
}

.degreeImage{
	border-radius: 20px;
}