.image{
	float: left;
	width: 50%;
	height: 500px;
	padding-right: 20px;
	padding-left: 10px;
}

.heading{
	margin-top: 155px;
	color: #a6071c;
	font-family: sans-serif;
	text-align: center;
}

.text{
	font-size: 18px;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 2.5;
	font-family: sans-serif;
}

.text h4{
	color: #a6071c;
}
