.imageContainer{
	margin-top: 135px;
	text-align: center;
}

.image{
	padding-top: 10px;
	height: 500px;
	width: 1250px;
}

.content{
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}